body {
  background: linear-gradient(to bottom , #fdc0ff 10%, #3b132c 100%);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color : black;
}

.todo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80pxvh;
  border-radius: 18px;
  background-color: white;
  padding: 25px;
}

.submitBox input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #2c2801;
}

.submitBox button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid hsl(308, 52%, 78%);
  background-color: hsl(308, 52%, 78%);
  color: white;
}

.todo-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.todo-item-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.todoItem span {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #2c2801;
  color: black;
  font-size: 20px;
}

.todoItem  button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid hsl(308, 52%, 78%);;
  background-color: hsl(308, 52%, 78%);;
  color: white;
 
}
